* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F0E7;
  font-family: "Zen Loop", cursive;
  color: #331100;
}

/* header */
header {
  background-color: #E7E2D9;
  height: 80px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #331100;
  font-size: 18px;
}


/* botões do login e cadastro */
.botoes {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.botoes p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
}
    
.login {
  color: #331100;
}

.cadastro {
  background-color: #331100;
  color: #F5F0E7;
}


/*corpo*/

.corpo{
  display: flex;
  flex-direction: center;
  gap: 230px;
  align-items: center;
  width: 100%;
  height: 880px;
}

.container{
  display: flex;
  width: 400px;
  height: 700px;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: -130px;
  padding: 45px;

}


/* cadastro */
.area-cadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  flex-direction: column;
}

.area-cadastro h1 {
  font-size: 40px;
  align-self: start;
}

.area-cadastro h3{
  font-size: 25px;
  align-self: start;
  font-weight: normal;
}


.area-cadastro p{
  font-size: 17px;
  align-self: start;
}

.area-cadastro p1{
  font-size: 25px;
  align-self: start;
}

.inputs input{
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #E7E2D9;
  background-color: #F5F0E7;
  font-family: "Zen Loop", cursive;
  font-size: 17px;
}

.inputs p {
  display: flex;
  justify-content: space-between;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #709897;
  color: #E7E2D9;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 15px 80px;
  border-color: #709897;
}

/* polaroid */

.polaroid {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin-top: -250px;
}

.polaroid img {
  width: 320px;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
  transform: rotate(5deg);

}

/* Mensagens de erro */

.mensagem_erro {
  color: red;
  font-size: 15px;
}

