* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F0E7;
  font-family: "Zen Loop", cursive;
  color: #331100;
}

/* header */
header {
  background-color: #E7E2D9;
  height: 80px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #331100;
  font-size: 18px;
}


/* botões do login e cadastro */
.botoes {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.botoes a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
}
    
.login {
  color: #331100;
}

.cadastro {
  background-color: #331100;
  color: #F5F0E7;
}


/* inicio */
.inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}

.inicio-texto h1 {
  margin-left: 40px;
  font-size: 80px;
}

.inicio-texto p{
  margin-left: 40px;
  font-size: 40px;
}

.inicio-img img {
  width: 250px;
  transform: rotate(-5deg);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  margin-right: 100px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: row;
  background: #E7E2D9;
  padding: 20px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img{
  display: flex;
  justify-content: center;
  align-items: row;
  width: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  margin-left: 100px;
  border-radius: 20px;
}

.card h1{
  margin-left: 180px ;
  font-size: 30px;
  padding-top: 0%;
}

.card p{
  font-size: 20px;
  border-radius: 30px;
}

.destaque {
  background: #A8D0D6;
}



