* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f0e7;
  font-family: "Zen Loop", cursive;
  color: #331100;
}

/* header */
header {
  background-color: #F5F0E7;
  padding: 20px 30px;
  border-bottom: 2px solid rgba(51, 17, 0, 0.09);
}

.navBar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo{
  height: 40px;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
 text-decoration: none;
  color: #331100;
  font-size: 22px
}

/* botões do login e cadastro */
.botoes {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.botoes p {
  color: #fff;
  font-size: 16px;
}

.botoes a{
  text-decoration: none;
  font-size: 22px
}

.botoes{
  color: #331100;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 140px 0px 153px;
}

.topo img {
    height: 160px;
}


.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    gap: 10px;
}

.titulo h3{
    color: rgba(49, 62, 135, 0.621);
    font-weight: bold;
}

.container {
    padding: 10px 150px;
}

/* KPIS */

.kpis {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-self: start;
    gap: 20px;
    align-items: end;
}

.kpi {
    background-color: #fffaf5;
    padding: 25px;
    border-radius: 15px;
    border: solid 0.1px rgba(51, 17, 0, 0.223);
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 150px;
    width: 290px;
}

.kpi h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

.kpi span {
    font-size: 55px;
    justify-self: end;
}

.kpi p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.cor1{
    color:#d3b0f4;
}

.cor2{
    color: #fae3af
}

.cor3{
    color: #f7a99a
}

.cor4{
    color: #95cce8
}

.kpi img{
    align-self: center;
    height: 85px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-self: center;
    gap: 5px;
}

/* GRÁFICOS */

.graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graficos h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.grafico1 {
    width: 800px;
    height: 410px;
    background-color: #fffaf5;
    padding: 25px;
    border-radius: 15px;
    border: solid 0.1px rgba(51, 17, 0, 0.223);
}

.configGrafico1 {
    width: 750px;
    height: 300px;
}

.grafico2 {
    width: 400px;
    height: 410px;
    background-color: #fffaf5;
    padding: 25px;
    border-radius: 25px;
    border: solid 1px rgba(51, 17, 0, 0.223);
}

.grafico3 {
    width: 400px;
    height: 400px;
    background-color: #fffaf5;
    padding: 25px;
    border-radius: 25px;
    border: solid 1px rgba(51, 17, 0, 0.223);
}

.biriri{
    color: rgb(163, 177, 255);

}
